.badge-info {
  background-color: #3a87ad;
}

.input-group-btn > .btn {
  margin-left: 5px;
}
.patient-search{
    background: #FFF;
    padding-top: 1%;
    margin-top: 10px;
  margin-bottom: 10px;
    padding-bottom: 10px;
}
.input-group-btn{
  font-size: 14px;
}

#search-textbox{

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    font-size:20px;
}
#search-textbox:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

.alert {
  color: #999;
  padding: 0px;
}

.alert .text-bold {
  color: #333;
}

.input-group-btn:last-child > .btn {
  border-radius: 3px;
}
.banner-danger {
  color: orange;
  width: 100%;
  background-color: orange;
  padding: 15px;
}
button.btn-primary2 {
  padding: 10px 16px !important;
}
.btn-primary2 {
    background-color: #3fbb3d;
    border-color: #1b6dc1;
    color: white;
}

.form-control:focus {
  border-color: #f1f1f1;
}

.glyphicon {
  margin-right:7px;
}

@media screen and (max-width: 640px) {
    #search-textbox::-webkit-input-placeholder{
      font-size:14px;
    }
}

@media screen and (min-width: 641px) {
    #search-textbox::-webkit-input-placeholder{
      font-size:20px;
    }
}
