.section-title{
    color: #FFF;
    background-color:#337ab7;
    font-weight: bold;
    display: block;
    width: 100%;
    padding: 10px;   
	font-size: 18px;
}
td, th { 
	padding: 10px;  
	text-align: left; 
	font-size: 16px;
}
.section-data{
    width: 50%;
}